# Full URL for SQLAlchemy/Alembic
# DATABASE_URL=postgresql+psycopg2://postgres.[ref]:[pass]@[host]:5432/postgres?sslmode=require

# Individual Fallbacks
user=
password=
host=
port=
dbname=

SUPABASE_URL=<SUPABASE_URL>
SUPABASE_SERVICE_ROLE_KEY=<service-role-key>


S3_BUCKET_NAME="kaagapay-assets"
